[pft]if val(v1002) > 0 then[/pft]
 
    <br />
    <div class="row"><hr class="ruler" /></div>

    <!-- monta navegacao entre as paginas do resultado -->    
    <a name="bottom"></a>

        <div class="barNavTop">
                [pft]if val(v1002) > 0 then[/pft]
                <input type="button" class="defaultButton submit" value="votre selection" name="yselect" onclick="javascript:void(AnySelected())" />
                [pft]fi[/pft]
                    <input type="button" class="defaultButton submit" onclick=window.location="#top" value="debut de la page" />
        </div>
[pft]fi[/pft]
